//- layout.pug
doctype html
html
  head
    title Mi Aplicación General
    //- Enlace a Bootstrap desde CDN
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
  body
    //- Barra de navegación
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/') MiAplicación
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/') Inicio
          li.nav-item
            a.nav-link(href='/about') Acerca de
          li.nav-item
            a.nav-link(href='/contact') Contacto

    //- Aquí es donde se cargará el contenido dinámico de cada vista
    .container.mt-4
      block content

    //- Pie de página
    footer.footer
      .container
        p &copy; 2024 MiAplicación - Todos los derechos reservados.
