doctype html
html
  head
    title Lista de Usuarios
    style.
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th, td {
        padding: 10px;
        text-align: left;
        border: 1px solid #dddddd;
      }
      th {
        background-color: #f2f2f2;
      }
  body
    h1 Lista de Usuarios
    if usuarios.length
      table
        thead
          tr
            th Nombre
            th Apellidos
            th DNI
            th Rol
        tbody
          each usuario in usuarios
            tr
              td= usuario.nombres
              td= usuario.apellidos
              td= usuario.dni
              td= usuario.rol
    else
      p No hay usuarios disponibles.
