
// Formulario del tutor
form(action="/usuarios" method="POST")
  // Aquí pones los campos necesarios para el tutor
  .form-group
    label(for="nombres") Nombres:
    input(type="text" name="nombres" required placeholder="Juan Carlos")

  .form-group
    label(for="apellidos") Apellidos:
    input(type="text" name="apellidos" required placeholder="Pérez López")

  .form-group
    label(for="edad") Edad:
    input(type="number" name="edad" min="1" max="99" required)

  .form-group
    label(for="correo") Correo Electrónico:
    input(type="email" name="correo" required placeholder="example@email.com")

  .form-group
    label(for="dni") DNI:
    input(type="number" name="dni" required placeholder="12345678")

  button(type="submit") Registrar

